.container {
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    background-image: url(../images/die.jpg);
    background-size: cover;
        color: #bc07b3;
}

div.dice{
         float:left;
         width:32px;
         background:#F5F5F5;
         border:#999 1px solid;
         padding:10px;
         font-size:24px;
         text-align:center;
         margin:5px;
}

.instructions{
  text-align: center;
  padding-top: 10em;
}
